h2 {
  font-size: 3em;
  @include media($xs) {
    font-size: 2.2em;
  }
}

h3 {
  font-size: 2em;
}

.page-title,
.section-title {
  text-align: center;
  font-weight: 900;
  margin-bottom: 1em;
  color: $primary-color;
  text-transform: uppercase;
}

.section-subtitle {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1em;
  color: $secondary-color;
}
