.heading-2,
h2 {
  font-size: 3em;
  @include media($xs) {
    font-size: 2.2em;
  }
}

.heading-3,
h3 {
  font-size: 2em;
}

.heading-4 {
  font-size: 1.5em;
  @include media($xs) {
    font-size: 1.2em;
  }
}

.page-title {
  text-align: center;
  font-weight: 900;
  margin-bottom: 1em;
  color: var(--text-color);
  text-transform: uppercase;
}
