.sps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .sp {
    display: block;
    padding: 20px;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.2)
    }
  }

  &--diamond {
    .s {
      width: 300px;
      max-width: 100%;
      flex: 0 1 calc(33% - 15px);
    }
  }

  &--gold {
    .sp {
      width: 250px;
      max-width: 100%;
      flex: 0 1 calc(25% - 15px);
    }
  }

  &--bronze {
    .sponsor {
      width: 100px;
      max-width: 100%;
      flex: 0 1 calc(33% - 15px);
    }
  }
}
