@import "~/assets/scss/settings/variables";

.home-hero {
  position: relative;
  color: var(--text-contrast-color);
  background: url(~/assets/i/bg-hero.jpg) no-repeat left top;
  background-size: cover;

  &__content {
    min-height: 70vh;
    padding-top: 120px;
    padding-bottom: 50px;
    z-index: 2;
    position: relative;
    backdrop-filter: blur(0px);
    background: linear-gradient(rgba($black, .20), rgba($black, .60));
    animation: fade-in 0.7s ease-in-out 1s backwards,
    hero-cover-blur 1s ease-in-out 5s backwards;
  }

  &__logo {
    max-width: 80%;
    width: 430px;
    margin: auto;
    display: block;
    animation: hero-logo 1s ease-in-out 1.2s backwards;
    margin-bottom: 50px;

    .logo__letter {
      fill: #fff;
    }
  }

  &__desc {
    line-height: 1.4em;
    font-size: 20px;
    text-align: center;
    animation: hero-desc 0.7s ease-in-out 1.5s backwards;
    margin-bottom: 2em;
  }

  &__header {
    text-align: center;
  }

  .sps {
    animation: zoom-in 0.7s ease-in-out 1.7s backwards;
    margin-bottom: 2em;
    max-width: 100%;

    img {
      width: 100%;
    }

    article:first-child {
      width: 250px
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(2);
  }

  73% {
    transform: scale(0.95);
  }
  88% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hero-cover-blur {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}


@keyframes hero-logo {
  0% {
    opacity: 0;
    transform: translate(0, -30%);
  }

  66% {
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero-desc {
  0% {
    opacity: 0;
    transform: translate(0, 80px);
  }

  66% {
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}

