.page-talk {
  &__header {
    padding-top: 100px;
    background: var(--red) url(../assets/i/bg-red.jpg) no-repeat;
    background-size: cover;
  }

  &--workshop {
    .page-talk__header {
      background: var(--blue) url(../assets/i/bg-blue.jpg) no-repeat;
      background-size: cover;
    }
  }

  &__title-wrapper {
    align-content: bottom;
    align-items: flex-end;
    padding-bottom: 20px;
  }

  &__title {
    color: white;
    margin-bottom: 15px;
  }

  &__speakers {
    font-style: italic;
  }


  &__image-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__image {
    max-width: 100%;
    width: 300px;
    height: auto;
    display: block;
  }

  &__footer {
    text-align: center;
    padding: 30px 15px 40px 15px;
  }

  .page-simple__wrapper {
    margin-bottom: 30px !important;
  }
}
