.page-talk {
  min-height: calc(100vh - 200px);

  &__header {
    padding-top: 100px;

    .grid-row {
      padding-top: 30px;
      background: var(--red) url(../../assets/i/bg-red.jpg) no-repeat;
      background-size: cover;
    }
  }

  &--workshop {
    .page-talk__header {

      .grid-row {
        background: var(--blue) url(../../assets/i/bg-blue.jpg) no-repeat;
        background-size: cover;
      }


    }
  }

  .page-simple__wrapper {
    min-height: 0;
  }

  &__title-wrapper {
    align-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  &__title {
    color: white;
    margin-bottom: 15px;
  }

  &__speakers {
    font-style: italic;
  }


  &__image-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
  }

  &__image {
    max-width: 100%;
    width: 300px;
    height: auto;
    display: block;
  }

  &__footer {
    text-align: center;
    padding: 30px 15px 40px 15px;
  }

  .page-simple__wrapper {
    margin-bottom: 30px !important;

    h3:first-child {
      margin-top: 0;
    }
  }
}

.sp-block {
  padding-bottom: 80px;

  &__title {
    text-align: center;
    font-size: 1.4rem;
  }

}
