.section {
  padding: 50px 0;
  color: var(--text-color);
  background: var(--white) url(~/assets/i/bg-white.jpg) no-repeat;
  background-size: cover;

  &__title {
    margin-bottom: 1em;
  }

  &__subtitle {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
  }

  a {
    color: var(--text-color)
  }

  &__content {
    font-size: 25px;
    line-height: 1.3em;

    p {
      margin-bottom: 1.5em;

      strong {
        font-weight: 800;
      }
    }
  }

  &__footer {
    margin-bottom: 20px;
  }

  &--red,
  &--blue {
    color: var(--text-contrast-color);

    a {
      color: var(--text-contrast-color);
    }

    .section__content,
    .section-title {
      color: var(--text-contrast-color);
    }


    .section__content {

    }
  }

  &--blue {
    background: var(--blue) url(~/assets/i/bg-blue.jpg) no-repeat;
    background-size: cover;


  }

  &--red {
    background: var(--red) url(~/assets/i/bg-red.jpg) no-repeat;
    background-size: cover;
  }

  &--bg-center {
    background-position: left center;
  }

  &--bg-bottom {
    background-position: left 99%;
  }


  &--center {
    text-align: center;
  }
}
