@import "~/assets/scss/mixins";

.section {
  padding: 50px 0;
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin-bottom: 0.3em;
  }


  &__header {
    margin-bottom: 2.2em;
  }


  &__subtitle {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
  }

  a {
    color: var(--text-color);
    // @include underline-effect-inverse(var(--text-color))
  }

  &__content {
    font-size: 20px;
    line-height: 1.3em;
    @include media-min($sm) {
      font-size: 25px;
    }

    p {
      margin-bottom: 1.5em;

      strong {
        font-weight: 800;
      }
    }
  }

  &__footer {
    margin-bottom: 20px;
  }

  &--red,
  &--blue {
    color: var(--text-contrast-color);

    a {
      color: var(--text-contrast-color);
    }

    .section__content,
    .section-title {
      color: var(--text-contrast-color);
    }


    .section__content {

    }
  }

  &--white {
    background-color: white;
    background-image: url(~/assets/i/bg-white.jpg);
  }

  &--blue {
    background-color: var(--blue);
    background-image: url(~/assets/i/bg-blue.jpg);
  }

  &--red {
    background-color: var(--red);
    background-image: url(~/assets/i/bg-red.jpg);
  }

  &--bg-center {
    background-position: left center;
  }

  &--bg-bottom {
    background-position: left 99%;
  }

  &--bg-200 {
    background-position: left -300px;
  }


  &--center {
    text-align: center;
  }
}
