@import '~/assets/scss/settings/variables';

.btn {
  display: inline-block;
  border: 1px solid var(--text-color);
  padding: 15px 25px;
  color: var(--text-color);
  border-radius: 2px;
  text-decoration: none;
  background: rgba($text-color, 0.15);
  transition: all .2s ease-in-out;
  font-size: 20px;
  margin: 0 20px 10px 0;

  &:not(.btn--disabled):hover {
    color: var(--text-contrast-color);
    background: var(--text-color);
  }

  &--contrast {
    border-color: var(--text-contrast-color);
    background: rgba($text-contrast-color, 0.15);
    color: var(--text-contrast-color);

    &:not(.btn--disabled):hover {
      color: var(--text-color);
      background: var(--text-contrast-color);
    }
  }

  &--blue {
    border-color: var(--blue);
    background: rgba($blue, 0.15);
    color: var(--text-contrast-color);

    &:hover {
      color: var(--text-color);
      background: var(--blue);
    }
  }

  &--red {
    border-color: var(--red);
    background: rgba($red, 0.65);
    color: var(--text-contrast-color);

    &:hover {
      color: var(--text-contrast-color);
      background: var(--red);
    }
  }
}
