@import "~/assets/scss/settings/variables";
@import "~/assets/scss/mixins";

.home-venue {
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(~/assets/i/location/location01_blur.jpg) no-repeat center center;
    background-size: cover;
  }

  background: linear-gradient(rgba($black, .20), rgba($black, .60));


  .section {
    &__content {

      margin-bottom: 2em;
    }

    &__wrapper {

    }
  }

  &__location {
    margin-bottom: 1.5em;

    a {
      @include a(var(--text-contrast-color));
    }
  }
}


.transport-info {
  margin-bottom: 2em;

  &__title {
    font-size: 20px;
    margin-bottom: 0.8em;

    i {
      color: var(--red);
    }
  }

  &__content {
    a {
      font-weight: 900;
      @include a-inverse(var(--text-contrast-color), var(--red));
    }
  }
}
